.back-button {
  color: #2e3d50 !important;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 44px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.back-button:hover {
  background-color: #d1d1d1 !important;
}
