.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 3.513vh;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1216px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .layout-container {
    max-width: 100%;
    overflow: hidden;
  }

  .main-container {
    max-width: 100% !important;
  }
}
