.container {
  display: flex;
  color: #2e3d50;
  gap: 30px;
}

.container h3 {
  font-weight: 500;
}

.header {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid #e2e2e2;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

.step-number {
  color: var(--primary-02);
  font-size: 20px;
  font-weight: 600;
}

.program-badge {
  background: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.form-grid {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.form-grid label {
  font-weight: 500;
}

.form-group-1,
.form-group-2 {
  display: flex;
  gap: 12px;
}

.cpf-form,
.login-form,
.password-form,
.phone-form {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.form-group label {
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.form-input {
  display: flex;
  font-family: "DM MONO";

  justify-content: space-between;
  padding: 10px 14px 10px 16px;
  border: 1px solid #e9ecef;
  border-radius: 44px;
  font-size: 16px;
  transition: all 0.3s ease;
  background: #f8f9fa;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
  background: white;
}

.input-with-icon {
  position: relative;
  display: flex;
}

.input-with-icon .form-input {
  width: 100%;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  color: #6c757d;
  z-index: 1;
}

.action-buttons {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.next-button {
  color: #ffffff !important;
  background-color: #1e90ff !important;
  padding: 12px 24px;
  border-radius: 44px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.next-button:hover {
  background-color: #0056b3 !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 8px;
  gap: 8px;
  padding: 12px;
}

.sidebar h3 {
  font-size: 16px;
  line-height: 130%;
  color: #2e3d50;
}

.sidebar p {
  font-weight: 400;
  font-size: 12px;
  color: #475569;
  line-height: 160%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}
