.new-offer-container {
  width: 100%;
}

.new-offer-content {
  display: flex;
  font-family: "DM Sans", sans-serif;
  gap: 30px;
}

@media (max-width: 768px) {
  .new-offer-container {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}
